.White{
    background-color: #ffffff;
}
.Green{
    background-color: #469c56;
}
.Yellow{
    background-color: #d1af41;
}
.Gray{
    background-color: #6e6d6a;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tablero{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

fieldset{
    border: none;

}

input{
    align-content: center;
    justify-content: center;
    margin: 4px;
    width: 60px;
    height: 60px;
    border: none;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    caret-color: rgba(250, 249, 249, 0);
}

.tiempo{
    display: flex;
    padding: 3%;
    font-size: 1.4rem;
}
#tiempo{
    margin-left: 10px;
}
#guardar{
    margin-left: 25px;
}
.botones{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
    background-color: #6e6d6a;
    color: #fff;
    font-size: 1.2rem;
} 
  .botones:hover,
  .botones:focus {
    background-color: #888;
  }